
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --todoo-lightblue: #47ACF2;
    --todoo-purple: #9B72E5;
    --todoo-green: #64C0A9;
    --todoo-orange: #F29D34;
    --todoo-pink: #D963A0;
    --todoo-lightgreen: #B0C925;
    --todoo-white: #FFFFFF;
    --todoo-grey: #F7F8F9;
}

body {
    font-family: sans-serif;
    width: 900px;
    margin: auto;
    background-color: var(--todoo-grey);
}

.site_header {
    background-color: var(--todoo-white);
    height: 80px;
    padding: 0.5rem;
    vertical-align: middle;
}

.logo {
    padding: 0.5rem;
    font-size: 40px;
}


.image_logo {
    vertical-align: middle;
}

