
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --todoo-lightblue: #47ACF2;
    --todoo-purple: #9B72E5;
    --todoo-green: #64C0A9;
    --todoo-orange: #F29D34;
    --todoo-pink: #D963A0;
    --todoo-lightgreen: #B0C925;
    --todoo-white: #FFFFFF;
    --todoo-grey: #F7F8F9;
}

body {
    font-family: sans-serif;
    width: 1200px;
    margin: auto;
    background-color: var(--todoo-grey);
}

.site_header {
    background-color: var(--todoo-white);
    height: 80px;
    padding: 0.5rem;
    vertical-align: middle;
}

.logo {
    padding: 0.5rem;
    font-size: 40px;
}

.image_logo {
    vertical-align: middle;
}

main {
    background-color: var(--todoo-white);
    margin-left: 10rem;
    margin-right: 10rem;
}


.space {
    height: 3.5rem;
    background-color: var(--todoo-grey);
}

.main_header {
    height: 3rem;
    border-bottom: solid var(--todoo-grey);
}

button {
    background-color: var(--todoo-lightblue);
    color: var(--todoo-grey);
    padding: 0.3rem;
    border-radius: 10%;
}

#addtask {
    margin-left: 3rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    border: 0;
}

#addsection {
    background-color: var(--todoo-white);
    border-color: var(--todoo-grey);
    color: darkgray;
}